/* Shared sidebar styles */
.sidebar-host,
.sidebar-guest,
.hamburger-host {
  /* display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 220px;
  padding: 20px;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.2); */

  display: block;
  width:260px ;
  height: 65px;
  /* background: "white", */
  margin: 5px 0;
  min-height: 100vh;
  padding: 0.5rem 0;
}

/* Role-specific background colors */
/* .sidebar-host {
  background-color: rgb(171, 120, 219);
} */

.sidebar-guest {
  background-color: rgb(20, 154, 232);
}

/* Nav links */
.sidebar-host nav,
.sidebar-guest nav 
{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.sidebar-host a,
.sidebar-guest a {
  color: white;
  text-decoration: none;
}

.sidebar-host a:hover,
.sidebar-guest a:hover {
  opacity: 0.8;
  color: white;
}



a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  margin-top: 20px;
  
}

a:hover {
  text-decoration: underline;  /* brings underline back on hover */
  opacity: 0.8;                /* or just a slight fade */
}

@media screen and (max-width:600px) {
.sidebar-host,
.sidebar-guest {
  display: none;
}

}









/* Mobile — hide sidebar, show as top bar instead */
/* @media screen and (max-width: 768px) {
  .sidebar-host,
  .sidebar-guest {
    width: 100%;       
    min-height: auto;  
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
  }

  .sidebar-host nav,
  .sidebar-guest nav {
    flex-direction: row;  
    gap: 30px;
    margin-top: 0;
    color: white;
  }

} */